
.form-group {
    margin-bottom: 1rem;
    margin-top: 6pc;
}
h1
{
	border-left: 3px solid green;
    border-radius: 8px;
}
table {
  
  
    border: 1px solid blue;
	
   
}

th, tr, td
{
	padding: 10px;
}